<h1>All the restaurants:</h1>
<ul>
<% @restaurants.each do |restaurant| %>
<li><%= restaurant.name %>
<%= link_to "See details", restaurant_path(restaurant.id), class: "btn btn-primary"%>
</li>
<% end %>
</ul>

